%centered{
  text-align:center;
}

body{
  font-family:$default_font;
  font-size:16px;
  line-height:1.5em;
}

p{
  margin-bottom:1.5em;
  &.indent{
    margin-top:-1em;
    text-indent:2em;
  }
  &.dropcap:first-letter {
  	font-size: 10em; 
  	float: left; 
    margin-top: .8px; 
    margin-right: .05em; 
    line-height: .9em;
  	color:#aaa;
  }
}


h1,h2,h3{
  margin-top:.4em;
  margin-bottom:.4em;
  line-height:1.2em;
  font-weight:bold;
}

h4,h5,h6{
  font-weight:normal;
  margin-top:.3em;
  margin-bottom:.3em;
  line-height:1.4em;
}

h1{
  font-size:32px;
}

h2{
  font-size:24px;
}

blockquote{
  color:#555;
  font-family:$serif;
  margin-left:32px;
  margin-right:32px;
  font-size:20px;
  line-height:27px;
  position:relative;
  
  &:before{
    content:"“";
    font-family:georgia;
    position:absolute;
    font-size:64px;
    left:-32px;
    top:16px;
    color:#aaa;
  }
        
}

.main-header{
  @extend %centered;
  font-size:64px;
}

.secondary-header{
  @extend %centered;
  font-size:32px;
  color:lighten($text_color,50%);
  font-weight:normal;
}