$portrait_width  : 768px;
$portrait_height : 1004px;

$landscape_width  : 1024px;
$landscape_height : 748px;

$portrait_width  : 100%;
$portrait_height : 100%;

$landscape_width  : 100%;
$landscape_height : 100%;


$sans_serif : helvetica;
$serif : palatino, georgia;
$default_font : $serif;

$text_color : #454545;